@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.97 0.02 12.89);
  --foreground: oklch(0.24 0.07 17.95);
  --card: oklch(0.98 0.01 17.5);
  --card-foreground: oklch(0.26 0.07 19.47);
  --popover: oklch(0.98 0.01 17.5);
  --popover-foreground: oklch(0.26 0.07 19.47);
  --primary: oklch(0.67 0.22 21.22);
  --primary-foreground: oklch(0.99 0 0);
  --secondary: oklch(0.95 0.02 10.3);
  --secondary-foreground: oklch(0.24 0.07 17.95);
  --muted: oklch(0.98 0.01 17.5);
  --muted-foreground: oklch(0.26 0.07 19.47);
  --accent: oklch(0.99 0 0);
  --accent-foreground: oklch(0.43 0.13 20.48);
  --destructive: oklch(0.8 0.17 73.59);
  --border: oklch(0.91 0.05 10.24);
  --input: oklch(0.9 0.05 11.99);
  --ring: oklch(0.92 0.04 12.26);
  --chart-1: oklch(0.86 0.18 88.48);
  --chart-2: oklch(0.62 0.21 255.62);
  --chart-3: oklch(0.54 0.29 297.65);
  --chart-4: oklch(0.95 0.1 98.75);
  --chart-5: oklch(0.87 0.12 100.1);
  --sidebar: oklch(0.97 0.02 12.89);
  --sidebar-foreground: oklch(0.26 0.07 19.47);
  --sidebar-primary: oklch(0.67 0.22 21.22);
  --sidebar-primary-foreground: oklch(0.98 0.01 17.5);
  --sidebar-accent: oklch(0.98 0.01 17.5);
  --sidebar-accent-foreground: oklch(0.43 0.13 20.48);
  --sidebar-border: oklch(0.91 0.05 10.24);
  --sidebar-ring: oklch(0.92 0.04 12.26);

  --font-sans: Barlow;
  --font-serif: Merriweather;
  --font-mono: JetBrains Mono;

  --radius: 0rem;

  --shadow-2xs: 0px 0px 3px 0px oklch(0.3 0.09 19.6 / 0.04);
  --shadow-xs: 0px 0px 3px 0px oklch(0.3 0.09 19.6 / 0.04);
  --shadow-sm:
    0px 0px 3px 0px oklch(0.3 0.09 19.6 / 0.08), 0px 1px 2px -1px oklch(0.3 0.09 19.6 / 0.08);
  --shadow:
    0px 0px 3px 0px oklch(0.3 0.09 19.6 / 0.08), 0px 1px 2px -1px oklch(0.3 0.09 19.6 / 0.08);
  --shadow-md:
    0px 0px 3px 0px oklch(0.3 0.09 19.6 / 0.08), 0px 2px 4px -1px oklch(0.3 0.09 19.6 / 0.08);
  --shadow-lg:
    0px 0px 3px 0px oklch(0.3 0.09 19.6 / 0.08), 0px 4px 6px -1px oklch(0.3 0.09 19.6 / 0.08);
  --shadow-xl:
    0px 0px 3px 0px oklch(0.3 0.09 19.6 / 0.08), 0px 8px 10px -1px oklch(0.3 0.09 19.6 / 0.08);
  --shadow-2xl: 0px 0px 3px 0px oklch(0.3 0.09 19.6 / 0.2);
}

.dark {
  --background: oklch(0.16 0.03 16.52);
  --foreground: oklch(0.99 0 0);
  --card: oklch(0.21 0.05 18.42);
  --card-foreground: oklch(0.98 0 0);
  --popover: oklch(0.26 0.07 19.47);
  --popover-foreground: oklch(0.99 0 0);
  --primary: oklch(0.67 0.22 21.22);
  --primary-foreground: oklch(0.99 0 0);
  --secondary: oklch(0.3 0.09 19.6);
  --secondary-foreground: oklch(0.95 0.02 10.3);
  --muted: oklch(0.26 0.07 19.47);
  --muted-foreground: oklch(0.99 0 0);
  --accent: oklch(0.43 0.13 20.48);
  --accent-foreground: oklch(0.99 0 0);
  --destructive: oklch(0.8 0.17 73.59);
  --border: oklch(0.31 0.09 19.47);
  --input: oklch(0.39 0.12 20.38);
  --ring: oklch(0.5 0.16 20.99);
  --chart-1: oklch(0.86 0.18 88.48);
  --chart-2: oklch(0.62 0.21 255.62);
  --chart-3: oklch(0.54 0.29 297.65);
  --chart-4: oklch(0.95 0.1 98.75);
  --chart-5: oklch(0.87 0.12 100.1);
  --sidebar: oklch(0.26 0.07 19.47);
  --sidebar-foreground: oklch(0.99 0 0);
  --sidebar-primary: oklch(0.67 0.22 21.22);
  --sidebar-primary-foreground: oklch(0.99 0 0);
  --sidebar-accent: oklch(0.43 0.13 20.48);
  --sidebar-accent-foreground: oklch(0.99 0 0);
  --sidebar-border: oklch(0.39 0.12 20.38);
  --sidebar-ring: oklch(0.5 0.16 20.99);

  --shadow-2xs: 0 1px 3px 0px oklch(0 0 0 / 0.05);
  --shadow-xs: 0 1px 3px 0px oklch(0 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0px oklch(0 0 0 / 0.1), 0 1px 2px -1px oklch(0 0 0 / 0.1);
  --shadow: 0 1px 3px 0px oklch(0 0 0 / 0.1), 0 1px 2px -1px oklch(0 0 0 / 0.1);
  --shadow-md: 0 1px 3px 0px oklch(0 0 0 / 0.1), 0 2px 4px -1px oklch(0 0 0 / 0.1);
  --shadow-lg: 0 1px 3px 0px oklch(0 0 0 / 0.1), 0 4px 6px -1px oklch(0 0 0 / 0.1);
  --shadow-xl: 0 1px 3px 0px oklch(0 0 0 / 0.1), 0 8px 10px -1px oklch(0 0 0 / 0.1);
  --shadow-2xl: 0 1px 3px 0px oklch(0 0 0 / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
